@charset "UTF-8";
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased; }

a {
    color: #227ce8; }

.myrow {
    margin: auto;
    width: 100em;
    }

.mycontainer {
    overflow: hidden;
    }

#main-menu {
    width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    }

.highlight {
    text-align: left; }

.block, #install, #info {
    border: 2px solid;
    border-color: #4a2b82;
    border-radius: 15px;
    height: 350px;
    font-size: 1.5em;
    margin: 0.4em;
    float: left;
}

#features {
    font-size: 1.65em;
    }

#install {
    font-size: 1.6em;
    }

h1 {
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
}

.title, .cword, .lword {
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    padding-bottom: 10px;
    width: inherit;
    font-size: 24px;
}

.kword {
    color: #4B4B94; }

.title, .cword {
    text-align: center; }

.lword {
    text-align: left; }

#install, #info {
    border-radius: 15px;
    border-color: #4a2b82;
    border: solid 2px;
    padding: 6px;
    height: 160px;
    }

.info-block {
    padding: 10px;
    line-height: 30px;}

.nav li {
    font-size: 2.0em;
    font-color: blue;
}

#features {
    width: 28em;
    }

#bm {
    width: 22em;
    padding: 1em;
    }

#install {
    width: 35em;
    }

#info {
    width: 15.5em;
    }

#features ul {
    list-style-type: square;
    }

#features li {
    margin-top: 8px;
    margin-bottom: 8px;
    }

.bm-case {
    font-size: 1em;
    border: solid 1px;
    border-radius: 5px;
    border-color: #CC5A00;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 19em;
    padding: 5px;
    }

.bm-case table {
    border: solid 1px;
    align: center;
    }

.bm-case td, th {
    width: 6em;
    font-size: 1.1em;
    border: solid 1px;
    text-align: center;
    }

.bm-case th {
    }

#install code {
    font-size: 80%;
    }

