.dub/
dub.selections.json
lz4/
bin/
test.log
build/
shunit*
/*.sam
/*.bam
/*.bai
/*.cram
/*.crai
/*.txt
!meson_options.txt
*.hex
*.zcat
*.out
/utils/ldc_version_info_.d
profile.data
profile.raw
output
builddir
