[submodule "BioD"]
	path = BioD
	url = https://github.com/brainstorm/BioD.git
	branch = newer_ldc
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/Cyan4973/lz4
[submodule "undeaD"]
	path = undeaD
	url = https://github.com/dlang/undeaD
