# this file is used in order to build sambamba for Mac OS X on Travis CI
language: objective-c

env: 
  global: 
  - ACCESS_LEVEL=sandbox
  - secure: blVtZH4Ia+4MkeTm0gRwL07r/bzhVRJJjUEbtvt0pIQNAtDq5aYuKnCI9sIw99XmEbv9+tSLc6DXq9d6LrDDR0EG7UUB4sTP6XW1XNJXm/kLIuoOCxTnVk6WBHZ4jusMWE0MNNDVmIS8nHrpoDp2ERXbfasD/9GT+3avVUvnsMg=
  - secure: Kzdt/6PLGBhD5f8yOPaPdX5yxHisCPvmfYEKUcEVksKOEurQoIpsNjzAky/yzso4R21T6xycjawFvDXvlVA83m/WJZSDDiFLZVgGoaMoZl9UYOPESeZlJR57/HkjgCss0iz/AX9abUzJ1jGfRt9ujtwcoXB15PqUhbjk2iHF0f0=
  - secure: K0J2r5R8xQMlAUwCaPVWHZUO4U+c+czK6H9bnN5RZPYs5BXpYjdV7/RgkOHsN9b+UksFx7LQRstgcVVcC+mQJRV8slGrx/GSmIA93Dp2mskU9eR1aQjxcUK10VMbIQI6qbXsZvvRSWPirNDQY4s3CjEKEv34t2IGALTkwaU1NmI=
  - secure: J1ta2/K8lj5dbHRvk+jTUAMICSnepfyc8ILCfM/HFCRaXMJQJTX1HDzEMwK3tAzzKaKEp9Tbm2b3IwE1tCtFaAfYUGozmHLirkFfKqCu/jNUkxL807M8NiqMx+H7tu2aR6t9opYyBjNhtuthbIdir3c42nldYdpse0ZLhzQTLfs=

before_install:
  - git submodule update --init --recursive
  - wget https://dl.dropboxusercontent.com/u/7916095/ldc2-0.12.1-osx-x86_64.tar.bz2
  - tar xjf ldc2-0.12.1-osx-x86_64.tar.bz2
  - export PATH=ldc2-0.12.1-osx-x86_64/bin:$PATH
  - wget https://github.com/craigcitro/r-travis/raw/master/scripts/dropbox.sh
  - chmod +x dropbox.sh
  - curl -L "https://dl.dropboxusercontent.com/u/7916095/shunit2-2.0.3.tgz" | tar zx

script:
  - make sambamba-ldmd2-64
  - ./.run_tests.sh

after_success:
  - tar cjvf sambamba_osx.tar.bz2 ./build/sambamba
  - ./dropbox.sh upload sambamba_osx.tar.bz2

