<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {{ page.title }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="stylesheet" href="/css/man.css" type="text/css"/>
  <link rel="stylesheet" href="/css/base.css" type="text/css"/>
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
</head>

<body>
  <a href="https://github.com/lomereiter/sambamba"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub" width="144px" height="144px"></a>
  <div class="container">

    <div class="row">
      <div class="page-header" style="text-align: center">
        <h1>{{ page.title }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">

        <section class="sidebar">
          <ul class="nav nav-pills nav-stacked">
            <!-- TODO
                 <li><a href="/installation.html">Installation</a></li>
                 -->
            {% capture page_url_prefix %}{{ page.url | truncate:8 }}{% endcapture %}
            {% if page_url_prefix == "/docs..." %}
            <li><a href="/index.html">← Back</a></li>
            <li class="active"><a href="/docs/sambamba-view.html">Documentation</a></li>
            {% else %}
            <li><a href="/docs/sambamba-view.html">Documentation</a></li>
            {% endif %}
            <li><a href="https://www.dropbox.com/sh/v05fsb5aarob3xe/iUHgyud31a/sambamba">Downloads</a></li>
            <li><a href="http://github.com/lomereiter/sambamba">Source code</a></li>
            <li><a href="http://github.com/lomereiter/sambamba/issues">Report an issue</a></li>
          </ul>
        </section>
      </div>

      <div class="col-md-10">
        <div class="content">
        {{ content }}
        </div>
      </div>
  </div>
</body>

</html>
